html,
html.light-mode {
  --bg: hwb(0 100% 0%);
  --text: hwb(231 35% 52%);
  --disabled: hwb(231 35% 52% / 0.6);
  --link: hwb(235 29% 11%);
  --link-hover: linear-gradient(45deg, hwb(333 16% 14%) 0%, hwb(38 4% 4%) 100%);
  --border: hwb(0 95% 5%);
}

html.dark-mode {
  --bg: hwb(233 11% 82%);
  --text: hwb(223 86% 8%);
  --disabled: hwb(231 36% 52%);
  --link: hwb(43 15% 1%);
  --link-hover: linear-gradient(45deg, hwb(333 16% 14%) 0%, hwb(38 4% 4%) 100%);
  --border: hwb(0 95% 5%);
}
